body{
    background-color: #080c20;
    width: 100%;
}

header img {
    margin-top: 3em;
    margin-left: 13em;
}

#mainDiv{
    background-image: url(./assets/illustration-hero-left.svg), url(./assets/bg-hero-squiggle.svg), url(./assets/illustration-hero-right.svg);
    background-position: 0%, center, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    width: auto;
    height: 600px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

}

#mainDiv h1 {
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-weight:550;
    width: 10em;
    text-align: center;
    font-size: 50px;
}
#mainDiv h1 em{
    color: #3ee9e5;
    font-family: 'Manrope', sans-serif;
    font-weight:550;
    text-align: center;
    font-style: normal;
}

#mainDiv p {
    color: #fff;
    font-family: 'Manrope', sans-serif;
    width: 35em;
    font-size: 15px;
    text-align: center;
    line-height: 1.7em;
    font-weight: lighter;
    color: #858e97;
    margin-bottom: 4em;
}

#mainDiv img {
    color: #3ee9e5;
}

#options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
       
}

.optionsBox {
    margin-left: 3em;
    width: 13em;
}

.optionsBox2 {
    margin-left: 3em;
    width: 13em;
    transform: translateY(60px);
}

.pMain {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight:bold;
    margin-top: 2em;
    margin-bottom: 2em;
}
.sub {
    color: #858e97;
    font-family: 'Manrope', sans-serif;
    font-weight:100;
    font-size: small;
    width: 15em;
    line-height: 2em;
}

.bgroundBox{
    width: 10em;
    height: 10em;
    background-color: #093f69;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#pricing{
    width: auto;
    height: 600px;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

}

#pricing h1 {
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-weight:550;
    width: 12em;
    text-align: center;
    font-size: 50px;
    font-size: xx-large;
}

#pricing p {
    font-family: 'Manrope', sans-serif;
    width: 38em;
    font-size:small;
    text-align: center;
    line-height: 1.7em;
    font-weight: lighter;
    color: #858e97;
    margin-bottom: 4em;
}

#pricingPlan {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10em);
}

.pricingPlan1 {
    background-color:#093f69;
    width: 20em;
    height: 20em;
    margin-right: 2em;
    border-radius: 5px;
}
.pricingPlan1 img{
    margin-left: 2em;
    transform: translateY(-50%);
}

.pricingPlan2 {
    background-color:#3ee9e5;
    width: 22em;
    height: 22em;
    border-radius: 5px;
}

.pricingPlan2 img{
    margin-left: 2em;
    transform: translateY(-50%);
}

.footerDiv {
    background-image: url(./assets/bg-footer-squiggle.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 350px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerDivH1 h1 {
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-weight:550;
    width: auto;
    text-align: center;
    font-size: 50px;
    font-size: xx-large;
}

.footerDiv input{
    color:white;
    background-color:#093f69;
    width: 20em;
    height: 2.5em;
    border-radius: 50px;
    border: 0;
    padding-left: 2em;
    font-family: 'Manrope', sans-serif;
    margin-right: 1em;
    font-weight: bold;
}

.footerDiv button{
    color:#080c20;
    background-color: #3ee9e5;
    width: 10em;
    height: 2.5em;
    border-radius: 50px;
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
    font-weight: bold;
}

article {
    font-family: 'Manrope', sans-serif;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    transform: translateY(-5%);

}

article h2{
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: small;

}

article p {
    font-family: 'Manrope', sans-serif;
    font-size:x-small;
    line-height: 1.7em;
    font-weight: lighter;
    color: #858e97;
}

article ul {
    padding-left: 2em;
    font-size:x-small;
    line-height: 3em;
}

article li {
    list-style: url(./assets/icon-check.svg);
    padding-left: 1em;
    font-size:x-small;
    line-height: 3em;
    font-weight: bold;
}

.pricingPlan2info {
    font-family: 'Manrope', sans-serif;
    color:#080c20;
    padding-left: 2em;

}

.pricingPlan2info h2{
    font-family: 'Manrope', sans-serif;
    color:#080c20;
    font-size: small;

}

.pricingPlan2info p {
    font-family: 'Manrope', sans-serif;
    font-size:x-small;
    line-height: 1.7em;
    font-weight: lighter;
    color:#080c20;
}
.pricingPlan2info h1 small {
    font-family: 'Manrope', sans-serif;
    font-size:xx-small;
    color:#080c20;
    font-weight: bold;
    transform: translateY(-50%);
}
.pricingPlan2info ul {
    padding-left: 2em;
    font-size:x-small;
    line-height: 3em;
    color: #080c20;
}

.pricingPlan2info li {
    list-style: url(./assets/icon-check.svg);
    padding-left: 1em;
    font-size:x-small;
    line-height: 3em;
}

@media screen and (max-width: 767px) {
    body{
        background-color: #080c20;
        width: 100%;
    }
    
    header img {
        margin-top: 3em;
        margin-left: 5em;
    }

    #mainDiv{
        background-image: url(./assets/illustration-hero-left.svg), url(./assets/bg-hero-squiggle.svg), url(./assets/illustration-hero-right.svg);
        background-position: -50%, center, 150%;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size:45%;
        width: auto;
        height: 600px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    
    }

    #mainDiv h1 {
        color: #fff;
        font-family: 'Manrope', sans-serif;
        font-weight:550;
        width: 10em;
        text-align: center;
        font-size: 30px;
    }

    #mainDiv p {
        color: #fff;
        font-family: 'Manrope', sans-serif;
        width: 30em;
        font-size: 15px;
        text-align: center;
        line-height: 1.7em;
        font-weight: lighter;
        color: #858e97;
        margin-bottom: 2em;
    }

    #options {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
        width: auto;
        padding-top: 0;
        
           
    }
    
    .optionsBox {
        display: flex;
        width: 30em;
        transform: translateX(60px);
        margin-bottom: 3em;
        margin-left: 0;

    }
    .optionsBoxWords{
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        width: auto;
    }
    
    .optionsBox2 {
        width: 30em;
        display: flex;
        transform: translateY(0%);
        margin-bottom: 3em;
        margin-left: 0;
    }

    .pMain {
        color: white;
        font-family: 'Manrope', sans-serif;
        font-weight:bold;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        
    }
    .sub {
        color: #858e97;
        font-family: 'Manrope', sans-serif;
        font-weight:100;
        font-size: small;
        width: 20em;
        line-height: 2em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    
    .bgroundBox{
        width: 10em;
        height: 10em;
        margin-right: 3em;
        background-color: #093f69;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    #pricing{
        width: auto;
        height: 550px;
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        transform: translateY(-20%);
    
    }
    #pricingPlan {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-40%);
        flex-direction: column;
        
    }
    .pricingPlan1 {
        background-color:#093f69;
        width: 20em;
        height: 20em;
        margin-right: 0;
        margin-bottom: 4em;
        border-radius: 5px;
    }
    .footerDiv {
        background-image: url(./assets/bg-footer-squiggle.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: auto;
        height: 100px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-50%);
    }
    
    .footerDivH1 h1 {
        color: #fff;
        font-family: 'Manrope', sans-serif;
        font-weight:550;
        width: auto;
        text-align: center;
        font-size: x-large;
    }
    
    .footerDiv input{
        color:white;
        background-color:#093f69;
        width: 20em;
        height: 2.5em;
        border-radius: 50px;
        border: 0;
        padding-left: 2em;
        font-family: 'Manrope', sans-serif;
        margin-right: 1em;
        font-weight: bold;
    }
    
    .footerDiv button{
        color:#080c20;
        background-color: #3ee9e5;
        width: 10em;
        height: 2.5em;
        border-radius: 50px;
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        cursor: pointer;
    }
}

@media screen and (max-width: 480px) {
    header img {
        margin-top: 3em;
        margin-bottom: 2em;
        margin-left: 35%;
    }
    #mainDiv{
        background-image: url(./assets/illustration-hero-left.svg), url(./assets/illustration-hero-right.svg);
        background-position: top left, top right;
        position: relative;
        background-repeat: no-repeat, no-repeat;
        width: auto;
        height: 600px;
        justify-content:flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    
    }
    #mainDiv h1 {
        color: #fff;
        font-family: 'Manrope', sans-serif;
        font-weight:550;
        width: 8em;
        text-align: center;
        font-size: 30px;
    }
    #mainDiv h1 em{
        color: #3ee9e5;
        font-family: 'Manrope', sans-serif;
        font-weight:550;
        text-align: center;
        font-style: normal;
    }
    
    #mainDiv p {
        color: #fff;
        font-family: 'Manrope', sans-serif;
        width: 25em;
        font-size: 15px;
        text-align: center;
        line-height: 1.7em;
        font-weight: lighter;
        color: #858e97;
        margin-bottom: 2em;
    }
    
    #mainDiv img {
        color: #3ee9e5;
    }

    #options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5em;
           
    }
    
    .optionsBox {
        margin-left: 0;
        width: 30em;
        display: flex;
        flex-direction: column;
        transform: translateX(0);
        justify-content: center;
        align-items: center;
    }
    
    .optionsBox2 {
        margin-left: 0;
        width: 30em;
        justify-content: center;
        align-items: center;
        width: 13em;
        display: flex;
        flex-direction: column;
    }    
    .optionsBoxWords{
        display: flex;
        flex-direction: column;
        width: 30em;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .pMain {
        color: white;
        font-family: 'Manrope', sans-serif;
        font-weight:bold;
        width: 20em;
        font-size: larger;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .sub {
        color: #858e97;
        font-family: 'Manrope', sans-serif;
        font-weight:100;
        font-size: small;
        width: 20em;
        line-height: 2em;
    }
    
    .bgroundBox{
        width: 10em;
        height: 10em;
        background-color: #093f69;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        
    }
    #pricing{
        width: 100%;
        height: 400px;
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        transform: translateY(-20%);
    
    }
    
    #pricing h1 {
        color: #fff;
        font-family: 'Manrope', sans-serif;
        font-weight:550;
        width: 12em;
        text-align: center;
        font-size: 50px;
        font-size: xx-large;
    }
    
    #pricing p {
        font-family: 'Manrope', sans-serif;
        width: 22em;
        font-size:small;
        text-align: center;
        line-height: 1.7em;
        font-weight: lighter;
        color: #858e97;
        margin-bottom: 4em;
    }
    
    #pricingPlan {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-10em);
    }
    
    .pricingPlan1 {
        background-color:#093f69;
        width: 20em;
        height: 20em;
        margin-right: 0;
        border-radius: 5px;
    }
    .pricingPlan1 img{
        margin-left: 2em;
        transform: translateY(-50%);
    }
    
    .pricingPlan2 {
        background-color:#3ee9e5;
        width: 22em;
        height: 22em;
        border-radius: 5px;
    }
    
    .pricingPlan2 img{
        margin-left: 2em;
        transform: translateY(-50%);
    }
    
    .footerDiv {
        background-image: url(./assets/bg-footer-squiggle.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: auto;
        height: 200px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footerDivH1 h1 {
        color: #fff;
        font-family: 'Manrope', sans-serif;
        font-weight:550;
        width: 10em;
        text-align: center;
        font-size: x-large;
    }
    
    .footerDiv input{
        color:white;
        background-color:#093f69;
        width: 200px;
        height: 2.5em;
        border-radius: 50px;
        border: 0;
        padding-left: 2em;
        font-family: 'Manrope', sans-serif;
        margin-right: 0;
        margin-bottom: 1em;
        font-weight: bold;
    }
    
    .footerDiv button{
        color:#080c20;
        background-color: #3ee9e5;
        width: 200px;
        height: 2.5em;
        border-radius: 50px;
        font-family: 'Manrope', sans-serif;
        cursor: pointer;
        font-weight: bold;
    }
    
    #subscription {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }
}